<% provide(:titlebar, "マイページ") %>
<div class="user-page"> 
  <div class= "user-info">
    <div class="user-topinfo">
      <p> <%= image_tag @user.user_image.thumb.url,class:'profile-icon' %> </p>
      <h3><%= @user.name %> </h3>
      <p><%= render 'user_info_changebox' %></p>
    </div>
    <h3 style="white-space:pre-wrap;" class="self-introduction"><%= @user.self_introduction %></h3>
    <p><%= render 'user_status' %></p>
  </div>
</div>