<% provide(:titlebar, "新規登録画面") %> 
<div class="signup-page">
  <div class="form">
    <%= form_with(model: @user, local:true) do |f| %>
      <%= render 'shared/error_messages', object: f.object%>
      <%= f.label :name,"ユーザー名" %>
      <%= f.text_field :name %>
      <%= f.label :email,"メールアドレス" %>
      <%= f.email_field :email %>
      <%= f.label :password,"パスワード" %>
      <%= f.password_field :password %>
      <%= f.label :password_confirmation,"パスワード(確認)" %>
      <%= f.password_field :password_confirmation %>
      <%= f.submit "登録", id:"signup-button"%>
      <hr class="hr1">
      <div  class="guest-user-login">
        <h3>    
        <%= link_to 'ユーザー登録せずに機能を試したい方はこちら', guest_path, method: :post,id:"password-forgot"%>
        </h3>
      </div>
    <% end %> 
  </div>
</div>