<div class="user-info">
  <% if logged_in? %>
    <%= link_to "編集", edit_user_path(current_user), class: 'btn btn-default' %>
    <p class=inf0-link>
    <%= link_to "ログアウト(ログインしてたら表示)", logout_path, method: :delete %>
    </p>
  <% end %>

  <%= image_tag @user.user_image.thumb.url %>
  <p class="info-name"><%= @user.name %> </p>

  <%= @user.self_introduction %>
  <% if logged_in? %>
    <p class="info-id"> sessioidは,<%= @current_user.id %></p>
    <%else%>
    <p> sessioidは,<%= session[:user_id] %></p>
    <p>ログアウトしてたら表示</p>
  <% end %> 
</div>