<div class="post-form" style="width:min(65%,1000px);">
  <div class="review-info">
    <% if post.post_images.present? %>
      <%= image_tag(post.post_images[0].to_s,id:"post-file",style:"width:min(18vw,240px);height:min(18vw,240px);")%>
    <% end %>
    <li id="post-notimage">
      <div class="post-top">
        <p class="post-recommend">おすすめ度<span class="post-star"> <%=render 'layouts/star',post:post%></span>
        </p>
        <p class="post-price-yen">
        <span class="post-price"> <%= post.price.to_s(:delimited) %></span> 円
        </p>
      </div>
      <p class="post-storename">
      <%= link_to "#{post.store_name}",post_path(post) %>
      </p>
      <p class="post-lunchname">
      おすすめのランチ：<span><%=link_to"#{post.lunch_name}",post_path(post)%></span>
      </p>         
      <p style="white-space:pre-wrap;" class="post-search-body" ><%= post.body %></p>
    </li>
  </div>
  <div class="post-subinfo">
    <div class="post-subinfo-left">
      <p class="post-subinfo-address"> 
      <span class="fa-solid fa-location-dot"></span><%= post.address %>
      </p>
    </div>
    <div class="post-subinfo-right">
      <span class="fa fa-heart liked-btn"></span>
      <p class=likes-count><%= post.likes.count %></p>
      <div class="comment-count">
        <p><span class="fa-regular fa-comment-dots comment-icon"></span><%= post.comments.size %>
        </p>
      </div>
    </div>
  </div>
  <div class="post-bottom">
    <div class="post-bottom-left">
      <% if post.tags.present?%>
        <span class="fa-solid fa-tag top-fa-tag"></span>
        <% post.tags.take(3).each do |tag| %>
          <%= link_to "##{tag.tag_name}", tag_posts_path(tag_id: tag.id),class: "post-tag" %>
        <% end %>
      <% end %>
    </div> 
    <div class="post-bottom-right"> 
      <p class="post-search-time"><%=l post.created_at %></p>
      <p class="reviewer-info-bottom">
      投稿者：
      <%= link_to image_tag(post.user.user_image.thumb.url,id:"reviewer-icon-top"),user_path(post.user) %>
      <%=post.user.name%>
      </p>
    </div>
  </div>
</div>