<div class="post-form">
  <p class="reviewer-info-top">
    投稿者:
    <%= link_to image_tag(post.user.user_image.thumb.url,id:"reviewer-icon-top"),user_path(post.user) %>
    <%=post.user.name%>
  </p>
  <div class="review-info">
    <% if post.post_images.present? %>
      <%= image_tag(post.post_images[0].to_s,id:"post-file")%>
    <% end %>
    <li id="post-notimage">
      <div class="post-top">
        <p class="post-recommend">おすすめ度<span class="post-star"> <%=render 'layouts/star',post:post%></span></p>
        <p class="post-price-yen"><span class="post-price"> <%= post.price %></span> 円</p>
      </div>
      <p class="post-storename"><%= link_to "#{post.store_name}",post_path(post) %></p>
      <p class="post-lunchname">おすすめのランチ：<span>野菜いっぱい定食</span></p>         
      <p style="white-space:pre-wrap;" class="post-search-body" ><%= post.body %></p>
    </li>
  </div>
<div class="post-subinfo">
    <div class="post-subinfo-left">
      <p class="post-subinfo-address"> <span class="fa-solid fa-location-dot"></span><%= post.address %></p>
    </div>
    <div class="post-subinfo-right">
      <span class="fa fa-heart liked-btn"></span>
      <p class=likes-count><%= post.likes.count %></p>
    <div class="comment-count">
      <p><span class="fa-regular fa-comment-dots comment-icon"></span>
      <%= post.comments.size %></p>
    </div>
    </div>
</div>
  <p class="post-search-time">投稿日：<%=l post.created_at %></p>
</div>

