<% provide(:titlebar, "投稿編集") %> 
<div class="posting-page">
  <div class="make-form">
    <%= form_with(model: @post, local:true) do |f| %>
      <%= render 'shared/error_messages',object: f.object %>
      <%= f.label :store_name,"店名" %>
      <%= f.text_field :store_name%>
      <%= f.label :lunch_name,"おすすめのランチ" %>
      <%= f.text_field :lunch_name%>
      <%= f.label :address,"住所" %>
      <%= f.text_field :address%>
      <%= f.label :post_images,"ランチ画像" %>
      <div id="images-preview-container" ></div>
      <%= f.file_field :post_images,multiple: true,id:"images-input" %>     
      <%= f.label :price,"価格" %>
      <p><%= f.text_field :price,id:"price-box" %>円</p>
      <p><%= f.label :five_star_rating,"おすすめ度" %></p>
      <%= f.select :five_star_rating,[['★☆☆☆☆',1],['★★☆☆☆',2],['★★★☆☆',3],['★★★★☆',4],['★★★★★',5]],{selected:3}%>
      <p>タグ（任意）<span class="tag-warning">※２つ目以降は「,」で区切ってください</span></p>
      <%= f.text_field :tag_name, value: @tags,placeholder: "例）野菜豊富,ボリューム満点"%>
      <p><%= f.label :body,"レビューコメント" %>
      <%= f.text_area :body,id:"review-comment"%></p>
      <%= f.submit "更新", id:"signup-button"%>
    <%end%>
  </div>  
</div>  
<script>
document.addEventListener("DOMContentLoaded", function() {
  const imagesInput = document.getElementById("images-input");
  const imagesPreviewContainer = document.getElementById("images-preview-container");

  imagesInput.addEventListener("change", async function() {
    imagesPreviewContainer.innerHTML = "";
    const files = imagesInput.files;
    for (const file of files) {
      await displayPreview(file, imagesPreviewContainer);
    }
  });
});

async function displayPreview(file, container) {
  return new Promise((resolve, reject) => {
    const reader = new FileReader();

    reader.addEventListener("load", function() {
      const imgElement = document.createElement("img");
      imgElement.src = reader.result;
      imgElement.alt = "プレビュー画像";
      imgElement.classList.add("preview-images");

      container.appendChild(imgElement);
      resolve();
    });

    reader.readAsDataURL(file);
  });
}
</script>