<% provide(:titlebar, "投稿作成") %>
<div class="posting-page">
  <div class="make-form">
    <%= form_with(model: @post, local:true) do |f| %>
      <%= render 'shared/error_messages',object: f.object %>
      <%= f.label :store_name,"店名" %>
      <%= f.text_field :store_name%>
      <%= f.label :store_name,"おすすめのランチ" %>
      <%= f.text_field :lunch_name%>
      <%= f.label :address,"住所" %>
      <%= f.text_field :address%>
      <%= f.label :post_images,"ランチ画像" %>
      <div id="images-preview-container" ></div>
      <%= f.file_field :post_images,multiple: true,id:"images-input" %>     
      <%= f.label :price,"価格" %>
      <p><%= f.text_field :price,id:"price-box" %>円</p>
      <p><%= f.label :five_star_rating,"おすすめ度" %></p>
      <%= f.select :five_star_rating,[['★☆☆☆☆',1],['★★☆☆☆',2],['★★★☆☆',3],['★★★★☆',4],['★★★★★',5]],{selected:3}%>
      <%= f.label :lots_of_vegetables,"野菜が豊富" %>
      <%= f.check_box :lots_of_vegetables, id:"check-box"%>
      <p><%= f.label :body,"レビューコメント" %>
      <%= f.text_area :body,id:"review-comment"%></p>
      <%= f.submit "投稿", id:"signup-button"%>
    <%end%>
  </div>  
</div>  
<script>
  document.addEventListener("DOMContentLoaded", function() {
    let imagesInput = document.getElementById("images-input");
    let imagesPreviewContainer = document.getElementById("images-preview-container");

    imagesInput.addEventListener("change", function() {
      imagesPreviewContainer.innerHTML = "";
      const files = imagesInput.files;
    
    for (const file of files) {
        const reader = new FileReader();
        reader.addEventListener("load", function() { const imgElement = document.createElement("img");
          imgElement.src = reader.result;
          imgElement.alt = "プレビュー画像";
          imgElement.classList.add("preview-images");
          const previewContainer = document.createElement("div");
          previewContainer.appendChild(imgElement);
          imagesPreviewContainer.appendChild(previewContainer);
        });
        reader.readAsDataURL(file);
      }
    });
  });
</script>