<header>
    <% if logged_in? %>
        <div class="header-title">
            <h1><%= link_to("ハピランチ",root_path)%></h1>
            <div class="logo"><%= link_to image_tag('/assets/ロゴ.png'),root_path, {class: "logo-image"}%></div>
        </div>
        <nav>
            <ul>
                <li class="header-link">
                    <div class="header-image">           
                        <%= link_to user_path(current_user) do %>
                            <span class="fa-solid fa-user-group"></span>
                        <% end %> 
                    </div>
                    <p class="header-text">マイページ</p>
                    <ul>
                        <li><%= link_to "マイページ", user_path(current_user) %></li>
                        <li><%=link_to "アカウント情報変更",accountedit_user_path(current_user) %> </li>
                        <li><%= link_to"ログアウト",logout_path, method: :delete %></li>
                        <% if current_user.email != "guest@example.com" %>
                            <li><%= link_to"退会ページ","/unsubscribe" %></li>
                        <% end %>
                    </ul>
                </li>
                
                <li class="header-link">
                    <div class="header-image">           
                        <%= link_to new_post_path do %>
                            <span class="fa-solid fa-file-pen"></span>
                        <% end %> 
                    </div>
                    <p class="header-text">投稿作成 </p>
                </li>          
            </ul>
        </nav>
    <%else%>
        <div class="header-title">
        <h1><%= link_to("ハピランチ",root_path)%></h1>
        <div class="logo"><%= link_to image_tag('/assets/ロゴ.png'),root_path, {class: "logo-image"}%></div>
        </div>
        <nav>
            <ul>
                <li class="header-link">
                    <div class="header-image">           
                        <%= link_to signup_path do %>
                            <span class="fa-solid fa-user-plus"></span>
                        <% end %> 
                    </div>
                    <p class="header-text">会員登録</p>
                </li>
                <li class="header-link">  
                    <div class="header-image"> 
                        <%= link_to login_path, class:"login-link" do %>
                            <span class="fa-solid fa-circle-user"></span>
                        <%end%>  
                    </div>
                    <p class="header-text">ログイン</p>
                    </div>
                </li>
            </ul>
        </nav>
    <%end%>
</header>