<header>
    <% if logged_in? %>
        <div class="header-title">
            <h1><%= link_to("ハピランチ",root_path)%></h1>
            <div class="logo"><%= link_to image_tag('/assets/ロゴ.png'),root_path, {class: "logo-image"}%></div>
        </div>
        <nav>
            <ul>
                <li>
                <div class="header-image"><%= link_to image_tag("/assets/投稿.png"),new_post_path %></div>
                <p class="header-text">投稿</p>
                </li>
                <li>
                <div  class="header-image"><%= link_to image_tag("/assets/マイページ.png"),
                user_path(current_user) %></div>
                <p class="header-text">マイページ</p>
                    <ul>
                        <li><%= link_to "マイページ", user_path(current_user) %></li>
                        <li><%=link_to "アカウント情報変更",'#' %> </li>
                        <li><%= link_to"ログアウト",logout_path, method: :delete %></li>
                    </ul>
                </li>           
            </ul>
        </nav>
    <%else%>
        <div class="header-title">
        <h1><%= link_to("ハピランチ",root_path)%></h1>
        <div class="logo"><%= link_to image_tag('/assets/ロゴ.png'),root_path, {class: "logo-image"}%></div>
        </div>
        <nav>
            <ul>
                <li id="header-login">  
                    <%= link_to(login_path) do %>
                        <p class="fa-solid fa-circle-user fa-3x"></p>
                        <p class="header-text-logout">ログイン</p>
                    <%end%>  
                </li>
            </ul>
        </nav>
    <%end%>
</header>