<div class="user-status">
  <ul>
    <li>
    <p class="status-count"><%= @user.following.count %> </p>  
    <%= link_to("フォロー",following_user_path(@user),{class:"status-title"})%>
    </li>
  </ul>
  <ul>
    <li>
    <p class="status-count"><%= @user.followers.count %> </p>  
    <%= link_to("フォロー",followers_user_path(@user),{class:"status-title"})%>
    </li>
  </ul>
  <ul>
    <li>
    <p class="status-count"><%= @user.posts.count %> </p>  
    <p class="status-title">投稿</p>
    </li>
  </ul>
  <ul>
    <li>
    <p class="status-count"><%= @user.likes.count %> </p>  
    <p class="status-title">いいね</p>
    </li>
  </ul>
</div>  